---
http_interactions:
- request:
    method: get
    uri: https://nominatim.openstreetmap.org/search?addressdetails=1&format=json&limit=5&q=Vancouver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"place_id":347077112,"licence":"Data © OpenStreetMap contributors,
        ODbL 1.0. http://osm.org/copyright","osm_type":"relation","osm_id":1852574,"lat":"49.2608724","lon":"-123.1139520","class":"boundary","type":"administrative","place_rank":16,"importance":0.7340028794430691,"addresstype":"city","name":"Vancouver","display_name":"Vancouver,
        Metro Vancouver Regional District, British Columbia, Canada","address":{"city":"Vancouver","county":"Metro
        Vancouver Regional District","state":"British Columbia","ISO3166-2-lvl4":"CA-BC","country":"Canada","country_code":"ca"},"boundingbox":["49.1989306","49.3161714","-123.2249611","-123.0232419"]},{"place_id":350290125,"licence":"Data
        © OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright","osm_type":"relation","osm_id":2249770,"lat":"49.5929495","lon":"-125.7025570","class":"place","type":"island","place_rank":17,"importance":0.5885807863897474,"addresstype":"island","name":"Vancouver
        Island","display_name":"Vancouver Island, British Columbia, Canada","address":{"island":"Vancouver
        Island","state":"British Columbia","ISO3166-2-lvl4":"CA-BC","country":"Canada","country_code":"ca"},"boundingbox":["48.3088833","50.8768322","-128.4329230","-123.2647751"]},{"place_id":301572194,"licence":"Data
        © OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright","osm_type":"relation","osm_id":237278,"lat":"45.6306954","lon":"-122.6744557","class":"boundary","type":"administrative","place_rank":16,"importance":0.564979158377835,"addresstype":"city","name":"Vancouver","display_name":"Vancouver,
        Clark County, Washington, United States","address":{"city":"Vancouver","county":"Clark
        County","state":"Washington","ISO3166-2-lvl4":"US-WA","country":"United States","country_code":"us"},"boundingbox":["45.5773887","45.6980040","-122.7745635","-122.4645600"]}]'
  recorded_at: Fri, 01 Aug 2025 07:51:28 GMT
recorded_with: VCR 6.3.1
