---
http_interactions:
- request:
    method: get
    uri: https://nominatim.openstreetmap.org/search?addressdetails=1&format=json&limit=1&q=Vancouver,%20BC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"place_id":347077112,"licence":"Data © OpenStreetMap contributors,
        ODbL 1.0. http://osm.org/copyright","osm_type":"relation","osm_id":1852574,"lat":"49.2608724","lon":"-123.1139520","class":"boundary","type":"administrative","place_rank":16,"importance":0.7340028794430691,"addresstype":"city","name":"Vancouver","display_name":"Vancouver,
        Metro Vancouver Regional District, British Columbia, Canada","address":{"city":"Vancouver","county":"Metro
        Vancouver Regional District","state":"British Columbia","ISO3166-2-lvl4":"CA-BC","country":"Canada","country_code":"ca"},"boundingbox":["49.1989306","49.3161714","-123.2249611","-123.0232419"]}]'
  recorded_at: Fri, 01 Aug 2025 07:45:12 GMT
recorded_with: VCR 6.3.1
